<div class="min-h-screen flex bg-gray-50">

  <aside class="w-64 bg-blue-900 text-white flex flex-col shadow-xl">
    
    <div class="p-6 border-b border-blue-800">
      <h2 class="text-2xl font-bold tracking-tight">Sistema Lucas</h2>
      <p class="text-blue-300 text-sm mt-1">Gestão de Saúde</p>
    </div>

    <div class="flex-1 overflow-y-auto py-6 px-4">
      
      <nav class="space-y-2" *ngIf="userRole === 'ADMIN'">
        <p class="text-blue-200 text-xs font-bold uppercase mb-2 px-4">Gestão da Clínica</p>
        <a routerLink="/panel/doctors" class="block py-2.5 px-4 rounded-lg hover:bg-blue-800 transition">🩺 Médicos</a>
        <a routerLink="/panel/patients" class="block py-2.5 px-4 rounded-lg hover:bg-blue-800 transition">👥 Pacientes</a>
        <a routerLink="/panel/appointments" class="block py-2.5 px-4 rounded-lg hover:bg-blue-800 transition">📅 Agenda Geral</a>
      </nav>

      <nav class="space-y-2 mt-6" *ngIf="userRole === 'PATIENT'">
        <p class="text-blue-200 text-xs font-bold uppercase mb-2 px-4">A Minha Área</p>
        <a routerLink="/panel/my-appointments" class="block py-2.5 px-4 rounded-lg hover:bg-blue-800 transition">📅 Minhas Consultas</a>
        <a routerLink="/panel/my-exams" class="block py-2.5 px-4 rounded-lg hover:bg-blue-800 transition">📄 Meus Exames</a>
        <a routerLink="/panel/my-profile" class="block py-2.5 px-4 rounded-lg hover:bg-blue-800 transition">👤 Meu Perfil</a>
      </nav>

    </div>

    <div class="p-4 border-t border-blue-800">
      <button (click)="logout()" class="w-full flex items-center justify-center space-x-2 bg-blue-800 hover:bg-red-600 text-white py-2 px-4 rounded-lg transition-colors">
        <span>Sair do Sistema</span>
      </button>
    </div>
  </aside>

  <main class="flex-1 h-screen overflow-y-auto bg-gray-50">
    <router-outlet></router-outlet>
  </main>

</div>