/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@layer base {
  button, 
  a, 
  select, 
  input[type="checkbox"], 
  input[type="radio"], 
  input[type="file"], 
  input[type="submit"], 
  [role="button"] {
    cursor: pointer;
  }
  
  button:disabled,
  input:disabled,
  select:disabled {
    cursor: not-allowed;
  }
}
